html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

* {
  box-sizing: border-box;
}

.clearfix {
  clear: both;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media only screen and (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    width: 75vw;
  }
}

nav {
  padding: 12px;
  background: #1c2541;
  color: #fff;
}

nav .container {
  display: flex;
}

nav h1 {
  font-size: 32px;
  margin: 0;
}

nav button {
  margin-left: auto;
  border: 2px solid #5bc0be;
  font-weight: bold;
  font-size: 15px;
  color: #5bc0be;
  background: #1c2541;
  padding: 8px 16px;
  cursor: pointer;
}

nav button:hover {
  border: 2px solid #fff;
  color: #fff;
}

.book {
  padding: 8px;
  border-bottom: 1px solid #bbb;
}

.book h3 {
  margin: 0 0 12px;
  font-size: 20px;
}

.book p {
  margin: 8px 0;
}

.book span {
  font-weight: bold;
  color: #1c2541;
}

.book button {
  padding: 6px 10px 3px;
  font-size: 14px;
  background: #fff;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.book .remove {
  color: #ad0909;
  border: 1.5px solid #ad0909;
  margin-left: 8px;
}

.book .remove:hover {
  background: #ad0909;
  color: #fff;
}

.book .update-status {
  color: #1c2541;
  border: 1.5px solid #1c2541;
}

.book .update-status:hover {
  background: #1c2541;
  color: #fff;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.3);
  display: none;
}

.modal-content {
  background: #fff;
  width: 40%;
  margin: 200px auto 0;
  animation-name: modalopen;
  animation-duration: 0.7s;
  box-shadow: 0 2px 4px 0 #ddd, 0 3px 12px 0;
}

@keyframes modalopen{
  from { opacity: 0}
  to {opacity: 1}
}

.modal-header {
  padding: 8px 12px;
  background: #1c2541;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-header h2 {
  margin: 10px 0;
  font-size: 18px;
  color: #5bc0be;
}

.modal-close {
  font-weight: bold;
  font-size: 24px;
  color: #fff;
}

.modal-close:hover {
  color: #ad0909;
}

.modal-body {
  padding: 10px;
}

.status-btn {
  width: 100%;
  display: block;
  padding: 8px 12px 4px;
  border: 2px solid #1c2541;
  background: #fff;
  color: #1c2541;
  font-weight: bold;
  font-size: 15px;
  margin: 8px 0;
  cursor: pointer;
}

.status-btn:hover {
  border: 2px solid #5bc0be;
  color: #5bc0be;
}

.form-group {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.form-group label {
  flex: 1;
}

.form-group input,
.form-group select {
  flex: 4;
  background: #fff;
  border: 1px solid #1c2541;
  color: #1c2541;
  padding: 6px 8px;
  font-size: 15px;
}

form button {
  float: right;
  padding: 8px 12px;
  font-size: 15px;
  background: #1c2541;
  color: #fff;
  font-weight: bold;
  border: none;
  cursor: pointer;
}